body {
    background-color: rgb(43, 177, 222);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    color: black;

}

button {
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 20px;
}

.card img {
    width: 250px;
    border-radius: 12px;
}

.card {
    display: flex;
    gap: 30px;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 10px 10px rgba(27, 27, 27, 0.6);
    max-width: 800px;
    width: 60%;
    margin-top: 20px;
}

.nav button:hover {
    background-color: grey;
    transform: translateY(-5px);
}

@media screen and (max-width:450px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 200px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    button {
        margin: 5px;
    }
}